{% extends "base.html" %}

{% block content %}
<h1>
    Edit Post
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" rows="20" required>{{post.content}}</textarea>
    </div>
		<button type="submit" class="btn btn-default">Submit</button>
		<a href="/post/10/delete" data-toggle="modal" data-target="#confirm-delete"><button type="button" class="btn btn-default data-dismiss="modal"> Delete Post </button> </a>
</form>
			
<!-- 			MODAL POPUP DIV START -->
			<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                CONFIRM POST DELETE
            </div>
            <div class="modal-body">
                All changes will be lost
            </div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
										<a class="btn btn-danger btn-ok">Delete</a>
								</div>
						</div>
				</div>
		</div>
			<!-- 			MODAL POPUP DIV END -->
{% endblock %}